@import 'global/_breaks';
@import 'global/_reset';
@import 'global/_fonts';


@import 'blocks/_logo';

.pages {
    @include small {
        margin-top: 95vh;
        position: relative;
        z-index: 10;
    }
}
.page {
    background-color: white;
    box-shadow: 0px 0px 20px 20px $blue;
    transform-origin: right bottom;
    transition: transform 1s;
    color: $blue;

    @include large {
        position: absolute;
        width: 100%;
        top: -150vh;
        height: 150vh;
    }

    h2 {
        padding: 1rem;
        font-size: 1.5rem;
        letter-spacing: -0.03em;
        font-family: hp1;
        @include large {
            padding: 1em;
            position: absolute;
            bottom: 0;
        }
    }

    .content {
        padding: 4em 1rem 4em 1rem;
        font-size: 1.5rem;

        a {
            font-family: hp1;
            text-decoration: none;
            color: $blue;
            border-bottom: 1px dotted $blue;
            &:hover {
                border-bottom: 0;
            }
        }
        @include large {
            position: absolute;
            bottom: 6rem;
            margin: 1em;
            padding: 4em 0 0 0;

        }
                
        .column {
            display: inline-block;
            font-family: hp1;
            margin-right: 4rem;
            margin-bottom: 4rem;
            @include large {
                margin-bottom: 0;
            }
        }
    }
}
.stockists {
    @include large {
        z-index: 2;
        .page-on & {
            transform: rotate(-10deg) ;
        }
        .image-on & {
            transform: rotate(-5deg) ;
        }
        &:hover {
            transform: rotate(-35deg) ;
        }
    }
}

.events {
    @include large {
        z-index: 1;
        .page-on & {
            transform: rotate(-15deg) ;
        }
        .image-on & {
            transform: rotate(-7deg) ;
        }
        &:hover {
            transform: rotate(-35deg) ;
        }
    }
}

.shop {
    @include large {
        transform: rotate(-5deg) ;
        z-index: 3;
        
        &:hover {
            transform: rotate(-35deg) ;
        }
    }
}

.header {
    position: fixed;
    height: 95vh;
    width: 100%;
    top: 0;
    @include large {
        height: 100vh;
    }

    img {
        margin: 1em;
        // height: 70%;
        // top: 50%;
        // position: absolute; 
        // left: 50%;
        // transform: translate(-50%,-50%)
        width: calc(100% - 2em);
        @include large {
            display: none;
        }
    }
}

.images {
    position: fixed;
    display: none;
    width: 80%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .5s;
    .image-on & {
        opacity: 1;
    }

    @include large {
        display: block;
    }
}

.buy {
    position: fixed;
    border: 1px solid white;
    top: 30px;
    right: 30px;
    background-color: white;
    color: $blue;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    font-size: 2rem;
    animation:spin 8s linear infinite;
    letter-spacing: -0.1em;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 10px 10px $blue;
    z-index: 1000;

    @include large {
        background-color: transparent;
        color: white;
        box-shadow: 0;
        z-index: 1;
    }

    &:hover {
        background-color: white;
        color: $blue;
        animation-play-state: paused;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: hp1;
        text-transform: uppercase;
    }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

